@{
    ViewBag.Title = "Home Page";
}

<div>
    <form action="./Home/DoFeedback" method="post">
        <label>Feedback</label>
        <textarea name="feedback"></textarea>
        <label>Password</label>
        

        <input name="submit" value="Login" class="btn btn-primary">Login</input>

    </form>

</div>